/* styles/listaProductos.module.css */

.listaProductos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .tarjetaProducto {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .imagenProducto {
    width: 100%;
    height: auto;
  }
  